header{
    display:flex;
    background-color: rgb(44, 5, 120);
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    color: white;
}
header nav{
    width: 100%;
}
header nav ul{
    display:flex;
    list-style: none;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
}