.login_card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    align-items: center;   
    border: 1px solid black;
    border-radius: 15px;
    padding: 35px;
}
.login_form{
    display: flex;
    flex-direction: column;
}
span a{
    color: rgb(12, 27, 23);
}
