{% extends "base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="container">
  <h1>Welcome, {{user.username}}</h1>
  {% if thesis %}
  <div class="thesis-info">
    <h2>Thesis: {{thesis.title}} </h2>
    <h3>Research Area: {{thesis.research_area}}</h3>
    {% for d in doc %}
    <p><strong>{{d.doc_type}}:</strong> <a href="{{ d.file.url }}">{{d.file.name}}</a></p>
    {% endfor %}
    {% if eval %}
    <h3> Supervisor Comment/Review Section </h3>
    <p> {{ eval.comment }} </p>
    <p><strong>Evaluation Status:</strong> {{eval.status}}</p>

    {%endif%}
    <a href="{% url 'saddrev' %}">add revised report</a><br>
  </div>
  {% else %}
  <p>Please Upload Thesis</p>
  <a href="{% url 'suploadthesis' %}">Upload Thesis</a>
  {% endif %}
</div>
{% endblock %}
