{% extends "base.html" %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block content %}
  <h2>Create Thesis and Upload Document</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
      <legend>Thesis Info</legend>
      {{ thesis_form }}
    </fieldset>
    <fieldset>
      <legend>Proposal Upload</legend>
      {{ doc_form2 }}
    </fieldset>
    <fieldset>
      <legend>Report Upload</legend>
      {{ doc_form1 }}
    </fieldset>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
