{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% block additional_nav_elements %}{% endblock %}
                {% if user.is_authenticated %}
                <li class="right_push">
                    <form method="post" action="{% url 'logout' %}" style="display: inline">
                        {% csrf_token %}
                        <input type="submit" class="logout" value="Logout">
                    </form>
                </li>
                {% else %}
                <li class="right_push">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>